@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';
@import 'ext.growthExperiments.variables.less';

.growthexperiments-homepage-module-start {
	&:not( .growthexperiments-homepage-module-completed ) {
		.box-shadow( 0 5px 10px 0 rgba( 0, 0, 0, 0.15 ) );
	}

	> h2.growthexperiments-homepage-module-header {
		margin-bottom: 1.4em;
	}

	> .growthexperiments-homepage-module-body {
		display: flex;

		.growthexperiments-homepage-module {
			display: flex;
			flex-direction: column;
			width: 25%;
			margin: 0;
			border-top: 0;
			border-bottom: 0;
			border-left: 0;
			border-right: @colorGray12 @border-width-base @border-style-base;
			border-radius: 0;
			padding-top: 0;
			padding-bottom: 0.5em;
			.box-shadow( none );
			text-align: center;

			&:last-child {
				border: 0;
			}

			&-header {
				overflow: visible;
				display: flex;
				justify-content: left;
				align-items: center;
				padding-top: 0;
				margin-top: 0;
				padding-bottom: 0;
				border-bottom: 0;
				margin-bottom: 1em;
				color: @colorGray5;
				font-size: 1em;

				&-icon {
					width: @homepageStartIconSize;
					height: @homepageStartIconSize;
					background-color: #d5fdf4;
					border-radius: 50%;
					border: 1px solid @colorGray12;
					margin-right: 10px;

					.oo-ui-iconElement {
						width: @homepageStartIconSize;
						height: @homepageStartIconSize;
						background-size: unset;
						opacity: 0.65;

						&.oo-ui-image-invert {
							opacity: 1;
						}
					}
				}

				&-text {
					text-align: left;
					line-height: 1.2em;
				}
			}

			&-body {
				height: 100%;
				padding-top: 0.5em;
				color: @colorGray2;
				font-size: 0.9em;
			}

			&-completed {
				.growthexperiments-homepage-module-header-icon {
					background-color: #00af89;
					border-color: #00af89;
				}
			}
		}

		.growthexperiments-homepage-module-start-account {
			.growthexperiments-homepage-module-body {
				font-size: 1em;
			}

			.growthexperiments-homepage-module-section-userinfo {
				.oo-ui-iconElement {
					height: 42px;
					width: 42px;
					border-radius: 50%;
					background-size: unset;
					background-color: @colorGray5;
					margin-left: auto;
					margin-right: auto;
				}

				.growthexperiments-homepage-module-section-username {
					display: block;
					font-size: 1.3em;
					font-family: 'Georgia', serif;
					color: @colorGray1;

					span {
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}

			.growthexperiments-homepage-module-section-editcount,
			.growthexperiments-homepage-module-section-accountage {
				display: block;
				font-family: @homepageHeaderFont;
				font-size: 0.85em;
				letter-spacing: 0.02em;
				margin: 0 0 0.5em 0;
				color: @colorGray7;
			}
		}

		.growthexperiments-homepage-module-start-email {
			&.growthexperiments-homepage-email-unconfirmed {
				.growthexperiments-homepage-module-header-icon {
					background-color: @colorProgressive;
					border-color: @colorProgressive;
				}
			}
		}

		.growthexperiments-homepage-module-start-userpage {
			.growthexperiments-homepage-userpage-guidelines {
				margin-top: 0.5em;
			}
		}
	}

	&.growthexperiments-homepage-module-mobile-summary {
		& > .growthexperiments-homepage-module-section-header {
			margin-bottom: 0.8em;
		}

		& > .growthexperiments-homepage-module-section-body {
			.growthexperiments-homepage-module {
				border: 0;
				padding: 0;

				& > h3 {
					flex-direction: column;
					font-weight: normal;
					text-align: center;
					font-size: 0.875em;

					.growthexperiments-homepage-module-header-icon {
						margin-right: 0;
						margin-bottom: 0.5em;
					}

					.growthexperiments-homepage-module-header-text {
						text-align: center;
					}
				}
			}
		}
	}

	&.growthexperiments-homepage-module-mobile-details,
	&.growthexperiments-homepage-module-mobile-overlay {
		& > .growthexperiments-homepage-module-section-body {
			flex-direction: column;

			.growthexperiments-homepage-module {
				width: 100%;
				border-right: 0;
				border-bottom: @colorGray12 @border-width-base @border-style-base;
				padding: 0.5em 0 1em 0;

				&:last-child {
					border: 0;
					padding-bottom: 0;
				}

				.growthexperiments-homepage-module-section-body,
				.growthexperiments-homepage-module-section-footer {
					padding-left: 46px;
					text-align: left;
				}

				button {
					// ".overlay button" rule in MinervaNeue/skinStyles/mobile.startup/Overlay.less
					// is causing the "tutorial" button to shrink. But not the other buttons(!?)
					width: unset;
				}
			}

			.growthexperiments-homepage-module-start-account {
				.growthexperiments-homepage-module-section-userinfo {
					display: flex;
					align-items: center;

					.oo-ui-iconElement {
						margin-left: unset;
						margin-right: 1em;
					}
				}
			}
		}
	}
}
