@import 'mediawiki.ui/variables';

@homepageHeaderFont: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@homepageModuleMargin: 1em;

.homepage-separator() {
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	border-bottom: 1px solid @colorGray10;
}
