@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';
@import 'ext.growthExperiments.variables.less';

.growthexperiments-homepage-module {
	border: @colorGray12 @border-width-base @border-style-base;
	border-radius: @borderRadius;
	.box-shadow( 0 1px 1px 0 rgba( 0, 0, 0, 0.15 ) );
	color: @colorGray2;
	margin: @homepageModuleMargin;
	padding: 1em;
	.box-sizing( border-box );

	.growthexperiments-homepage-module-header,
	h2.growthexperiments-homepage-module-header {
		font-family: @homepageHeaderFont;
		font-size: 1.3em;
		font-weight: bold;
		color: @colorGray2;
		margin-top: 0;
		margin-bottom: 1 / 1.3em;
		padding-bottom: 1 / 1.3em;
		border-bottom: 1px solid @colorGray12;
		display: flex;
		flex-direction: row;
		align-items: center;

		&-icon {
			margin-right: 0.5em;

			.oo-ui-iconElement {
				height: 0.8em;
			}
		}

		&-text {
			flex-grow: 1;
		}

		&-nav-icon {
			height: 0.8em;
		}
	}

	.growthexperiments-homepage-module-subheader,
	h3.growthexperiments-homepage-module-subheader {
		font-family: @homepageHeaderFont;
		font-size: 1em;
		font-weight: normal;
		color: @colorGray5;
		margin: 0;
	}

	&-footer {
		margin-top: 1.4em;
	}

	.oo-ui-buttonElement .oo-ui-buttonElement-button .oo-ui-labelElement-label {
		white-space: normal;
	}
}
