@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';

.growthexperiments-homepage-module {
	border: @border-color-base @border-width-base @border-style-base;
	border-radius: @borderRadius;
	background-color: @colorGray15;
	color: @colorGray2;
	margin: 1em;
	padding: 1em;
	width: 240px;

	h2.growthexperiments-homepage-module-header {
		font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
		font-size: 1.5em;
		font-weight: bold;
		color: @colorGray2;
		margin: 0;
		border-bottom: 0;
	}

	h3.growthexperiments-homepage-module-subheader {
		font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
		font-size: 0.8em;
		font-weight: normal;
		margin: 0;
		color: @colorGray5;
	}
}
