@import 'mediawiki.ui/variables';

.growthexperiments-homepage-mentorship {
	&-userlink {
		font-size: 1.2em;

		.oo-ui-iconElement {
			width: 20px;
			height: 20px;
			opacity: 0.6;
			margin-right: 0.5em;
		}
	}

	&-username {
		vertical-align: middle;
	}

	&-editcount,
	&-lastactive {
		color: @colorGray7;
		font-size: 0.85em;
		letter-spacing: 0.02em;
	}

	&-intro {
		margin: 0.5em 0 1.4em;
	}
}
