@import 'mediawiki.ui/variables';

.growthexperiments-homepage-mentorship {
	&-userlink {
		font-size: 1.2em;

		.oo-ui-iconElement {
			width: 20px;
			height: 20px;
			opacity: 0.6;
			margin-right: 0.5em;
		}
	}

	&-username {
		vertical-align: middle;
	}

	&-editcount,
	&-lastactive {
		color: @colorGray7;
		font-size: 0.85em;
	}

	&-intro {
		margin: 0.5em 0 1.1em 1.1em;
		font-size: 1.2em;
		font-style: italic;
		color: @colorGray5;
	}

	&-cta {
		margin-left: 1.4em;
	}
}

.growthexperiments-homepage-mobile-details,
.growthexperiments-homepage-module-mobile-summary,
.growthexperiments-homepage-module-mobile-overlay {
	.growthexperiments-homepage-mentorship {
		&-intro {
			font-size: 1.1em;
		}

		&-username {
			font-size: 0.95em;
		}
	}
}
