@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';

.growthexperiments-homepage-module-impact {
	&-activated .growthexperiments-homepage-module-body {
		display: table;
		margin: 1em -5px;
	}

	p {
		margin: 0.5em 0 1em 0;
	}

	.impact-row {
		display: table-row;

		.article-image {
			display: table-cell;
			padding: 3px 0 3px 3px;

			.placeholder-image,
			.real-image {
				height: 40px;
				width: 40px;
				border-radius: @borderRadius;
			}

			.real-image {
				background-position: center;
			}

			.placeholder-image {
				opacity: 0.38;
				background-color: @colorGray14;
				background-size: 20px;
			}
		}

		.article-title {
			display: table-cell;
			vertical-align: middle;
			padding: 0 10px 0 10px;
			width: 100%;
			color: @colorGray2;
		}

		.pageviews {
			display: table-cell;
			text-align: right;
			padding-right: 9px;
			vertical-align: middle;
			white-space: nowrap;
		}

		.empty-pageviews {
			margin-right: 0.2em;
		}

		a.pageviews:hover {
			font-weight: bold;
		}

		&:nth-child( 2n-1 ) {
			background-color: @colorGray15;
		}
	}
}

.growthexperiments-homepage-mobile-summary {
	.growthexperiments-homepage-module-impact {
		.growthexperiments-homepage-impact-subheader-text {
			margin-right: 2em;
		}

		.growthexperiments-homepage-impact-subheader-subtext {
			display: flex;
			align-items: baseline;

			span:first-child {
				flex-grow: 1;
			}

			span:last-child {
				font-size: 2em;
				line-height: 0; // weird, but it keeps this element and the one above tighter together
				color: @colorProgressive;
			}
		}
	}
}
