@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';
@import 'ext.growthExperiments.variables.less';

.growthexperiments-homepage-module-start {
	.box-shadow( 0 5px 10px 0 rgba( 0, 0, 0, 0.15 ) );

	> .growthexperiments-homepage-module-body {
		display: flex;

		.growthexperiments-homepage-module {
			text-align: center;
			width: 25%;
			margin: 0;
			vertical-align: top;
			border-bottom: 0;
			border-top: 0;
			border-left: 0;
			border-right: @colorGray12 @border-width-base @border-style-base;
			border-radius: 0;
			.box-shadow( none );

			&:last-child {
				border: 0;
			}

			&-header {
				min-height: 25%;
				display: flex;
				justify-content: center;
				align-items: center;
				border-bottom: 0;
				padding-bottom: 0;
				color: @colorGray5;
				font-size: 1em;

				&-icon {
					width: 32px;
					height: 32px;
					background-color: #d5fdf4;
					border-radius: 50%;
					border: 1px solid @colorGray12;
					margin-right: 10px;

					.oo-ui-iconElement {
						width: 32px;
						height: 32px;
						background-size: unset;
						opacity: 0.65;

						&.oo-ui-image-invert {
							opacity: 1;
						}
					}
				}

				&-text {
					text-align: left;
				}
			}

			&-subheader {
				min-height: 40%;
				color: @colorGray2;
				font-size: 0.9em;
			}

			&-footer {
				font-size: 0.9em;
			}

			&-completed {
				.growthexperiments-homepage-module-header-icon {
					background-color: #00af89;
					border-color: #00af89;
				}
			}
		}

		.growthexperiments-homepage-module-start-account {
			.growthexperiments-homepage-module-section-username {
				span {
					display: block;
					font-size: 1.3em;
					font-family: 'Georgia', serif;
					color: @colorGray1;

					&.oo-ui-iconElement {
						height: 42px;
						width: 42px;
						border-radius: 50%;
						background-size: unset;
						background-color: @colorGray5;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}

			.growthexperiments-homepage-module-section-editcount,
			.growthexperiments-homepage-module-section-accountage {
				font-family: @homepageHeaderFont;
				font-size: 0.85em;
				letter-spacing: 0.02em;
				margin: 0.5em 0;
				color: @colorGray7;
			}
		}

		.growthexperiments-homepage-module-start-email {
			&.growthexperiments-homepage-email-unconfirmed {
				.growthexperiments-homepage-module-header-icon {
					background-color: @colorProgressive;
					border-color: @colorProgressive;
				}
			}
		}
	}
}
