@import 'mediawiki.ui/variables';

.growthexperiments-homepage-mentorship {
	&-userlink {
		font-size: 1.2em;

		.oo-ui-iconElement {
			width: 20px;
			height: 20px;
			opacity: 0.6;
			margin-right: 0.5em;
		}
	}

	&-mentorinfo {
		color: @colorGray7;
		font-size: 0.8em;
	}

	&-intro {
		margin: 0.5em 0;
	}
}
