@import 'mediawiki.ui/variables';

.growthexperiments-homepage-module-start {
	display: table;
	width: 650px;

	.growthexperiments-homepage-module-body {
		display: table-row;

		.growthexperiments-homepage-module {
			display: table-cell;
			text-align: center;
			width: 25%;
			font-size: 0.8em;
			margin: 0;
			vertical-align: top;
			border-bottom: 0;
			border-top: 0;
			border-left: 0;
			border-right: @border-color-base @border-width-base @border-style-base;

			&:last-child {
				border: 0;
			}

			&-header {
				.oo-ui-iconElement {
					width: 32px;
					height: 32px;
					border-radius: 16px;
					background-color: #d5fdf4;
					border: 1px solid #c8ccd1;
					background-size: unset;
					margin-right: 10px;
				}
			}

			&-completed {
				.growthexperiments-homepage-module-header {
					.oo-ui-iconElement {
						background-color: #00af89;
						border-color: #00af89;
					}
				}
			}

			&-body {
				display: block;
			}
		}
	}
}
