@import 'mediawiki.ui/variables';

.growthexperiments-homepage-module-startemail {
	width: 100%;
	background-color: @colorGray15;
	border: unset;

	.growthexperiments-homepage-startemail-address {
		font-weight: bold;
	}

	.oo-ui-iconWidget {
		margin-right: 0.5em;
	}
}
