@import 'mediawiki.ui/variables';
@import 'ext.growthExperiments.variables.less';

.growthexperiments-homepage-module-help {
	background-color: @colorGray15;

	h3.growthexperiments-homepage-module-subheader {
		font-weight: bold;
		padding-top: 0;
	}

	.mw-ge-homepage-help-cta {
		padding-top: 1.5em;
		margin-top: 1.5em;
		margin-bottom: 1em;
		border-top: 1px solid @colorGray12;
		font-size: 0.9em;
	}

	ul {
		margin-bottom: 1em;
		line-height: 1.8em;
	}
}
