// displays a grey rectangle with a running gradient
.loading-animation ( @delay ) {
	animation: loading 2s ease infinite;
	animation-delay: @delay;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		float: left;
		background-repeat: no-repeat;
		background-image: linear-gradient( @colorGray14 100%, transparent 0 );
		background-size: 100% 100%;
		background-position: 0 0;
	}

	@keyframes loading {
		0% {
			opacity: 0.5;
		}

		40% {
			opacity: 1;
		}

		60% {
			opacity: 1;
		}

		100% {
			opacity: 0.4;
		}
	}
}

.filter ( @value ) {
	-webkit-filter: @value;
	filter: @value;
}

// Set font-size in em based on the default font size
.rel-font-size( @parentFontSize, @targetFontSize ) {
	font-size: unit( @targetFontSize / @parentFontSize, em );
}

// Set line-height based on the container's font size
.rel-line-height( @parentFontSize, @targetLineHeight ) {
	line-height: unit( @targetLineHeight / @parentFontSize );
}

// Set font-size and line-height in em based on the target font size
.rel-font-size-and-line-height( @parentFontSize, @targetFontSize, @targetLineHeight ) {
	.rel-font-size( @parentFontSize, @targetFontSize );
	.rel-line-height( @targetFontSize, @targetLineHeight );
}
