@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';

.growthexperiments-homepage-module-impact {
	display: table;

	.growthexperiments-homepage-module-body {
		margin: 1em -5px;
	}

	.impact-row {
		display: table-row;

		.article-image {
			display: table-cell;
			padding: 5px 0 5px 0;
			border-radius: @borderRadius;

			.oo-ui-iconWidget {
				height: 40px;
				width: 40px;
			}
		}

		.article-title {
			display: table-cell;
			vertical-align: middle;
			padding: 0 10px 0 10px;
			width: 100%;
			color: @colorGray2;
		}

		.pageviews {
			display: table-cell;
			text-align: right;
			padding-right: 5px;
			vertical-align: middle;
			white-space: nowrap;
		}

		&:hover {
			background-color: #fff;

			.article-title {
				color: @colorGray2;
			}

			.pageviews {
				font-weight: bold;
			}
		}
	}
}
