/modules/lib/
/modules/ext.growthExperiments.MentorDashboard.Vue/components/icons.json
/tests/qunit/__mocks__/**
/vendor/
/coverage/
/node_modules/
/docs

# This is linted by the dedicated eslint run in that directory which then also has the dependencies installed
/documentation/frontend/
