# Map author and committer names and email addresses to canonical real names
# and email addresses.
#
# Two types of entries are useful here. The first sets a canonical author
# name for a given email address:
#
#   Canonical Author Name <author email>
#
# The second allows collecting alternate email addresses into a single
# canonical author name and email address:
#
#   Canonical Author Name <author email> <alternate email>
#
# Mappings are only needed for authors who have used multiple author names
# and/or author emails for revisions over time. Author names beginning with
# "[BOT]" will be omitted from the CREDITS file.
#
# See also: https://git-scm.com/docs/git-shortlog#_mapping_authors
#
Amir Aharoni <amir.aharoni@mail.huji.ac.il>
Amir Sarabadani <Ladsgroup@gmail.com>
Ammar Abdulhamid <ammarpad@yahoo.com>
Christian Aistleitner <christian@quelltextlich.at>
Cynthia Simiyu <csimiyu@wikimedia.org>
Daimona Eaytoy <daimona.wiki@gmail.com>
DannyS712 <DannyS712.enwiki@gmail.com>
Ed Sanders <esanders@wikimedia.org>
Gergő Tisza <gtisza@wikimedia.org> <tgr.huwiki@gmail.com>
Antoine Musso <hashar@free.fr> <hashar@users.mediawiki.org>
James D. Forrester <jforrester@wikimedia.org>
Jazmin Tanner <jtanner@wikimedia.org>
Kosta Harlan <kharlan@wikimedia.org>
Kunal Mehta <legoktm@debian.org>
Kunal Mehta <legoktm@debian.org> <legoktm@member.fsf.org>
Kunal Mehta <legoktm@debian.org> <legoktm.wikipedia@gmail.com>
Kunal Mehta <legoktm@debian.org> <legoktm@gmail.com>
MarcoAurelio <maurelio@tools.wmflabs.org>
Maggie Epps <mepps@wikimedia.org>
Martin Urbanec <martin.urbanec@wikimedia.cz>
Martin Urbanec <martin.urbanec@wikimedia.cz> <murbanec@wikimedia.org>
Martin Urbanec <martin.urbanec@wikimedia.cz> <martin@urbanec.cz>
Matěj Suchánek <matejsuchanek97@gmail.com>
Max Semenik <maxsem.wiki@gmail.com>
MewOphaswongse <mophaswongse@wikimedia.org>
Naga sai sravanth <nagasaisravanth456@gmail.com>
Nikerabbit <niklas.laxstrom@gmail.com>
Petr Pchelko <ppchelko@wikimedia.org>
Piotr Miazga <piotr@polishdeveloper.pl>
Reedy <reedy@wikimedia.org>
Roan Kattouw <roan.kattouw@gmail.com> <roan@wikimedia.org>
Stephane Bisson <sbisson@wikimedia.org>
Thalia <thalia.e.chan@googlemail.com>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de>
Tim Eulitz <tim.eulitz@wikimedia.de>
[BOT] Translation updater bot <l10n-bot@translatewiki.net>
Umherirrender <umherirrender_de.wp@web.de>
Volker E <volker.e@wikimedia.org>
Yongmin Hong <revi@pobox.com> <revi@wikimedia.org>
Zoranzoki21 <zorandori4444@gmail.com>
ephemeralwaves <thinkcolorful@thinkcolorful.org>
[BOT] jenkins-bot <jenkins-bot@gerrit.wikimedia.org>
[BOT] libraryupgrader <tools.libraryupgrader@tools.wmflabs.org>
simkawaii <sim.kawaii@gmail.com>
vidhi-mody <vidhimody6@gmail.com>
Željko Filipin <zeljko.filipin@gmail.com>
