@import '../../lib/wikimedia-ui-base/wikimedia-ui-base.less';
@import '../../utils/mixins.less';

.ge-addlink-mwSaveDialog {
	.ge-addlink-mwSaveDialog-summaryTable {
		width: 100%;
		border-collapse: collapse;

		caption {
			margin-top: 4px;
			margin-bottom: 16px;
			text-align: left;
			font-weight: normal;
			color: @wmui-color-base10;
			.rel-font-size-and-line-height( @parentFontSize: 14px, @targetFontSize: 16px, @targetLineHeight: 23px );
		}

		tr {
			border-bottom: 1px solid @wmui-color-base80;
		}

		th {
			padding: 0 0 12px 0;
			text-align: left;
			font-weight: normal;
			color: @wmui-color-base20;
			.rel-font-size-and-line-height( @parentFontSize: 14px, @targetFontSize: 13px, @targetLineHeight: 20px );

			&:last-child {
				text-align: right;
			}

			.ve-ui-mwMobileSaveDialog& {
				.rel-font-size-and-line-height( @parentFontSize: 16px, @targetFontSize: 13px, @targetLineHeight: 20px );
			}

			.oo-ui-icon-robot-black {
				margin-right: 10px;
			}

			.aligner {
				vertical-align: middle;
			}
		}
	}

	.ge-addlink-mwSaveDialog-table-data {
		padding: 0;
		text-align: left;
		color: @wmui-color-base10;
		.rel-font-size-and-line-height( @parentFontSize: 14px, @targetFontSize: 14px, @targetLineHeight: 27px );

		&:last-child {
			text-align: right;
		}

		.ve-ui-mwMobileSaveDialog& {
			.rel-font-size-and-line-height( @parentFontSize: 16px, @targetFontSize: 16px, @targetLineHeight: 32px );
		}

		.oo-ui-icon-link {
			min-width: 16px;
			min-height: 16px;
			width: 1.14285714em;
			height: 1.14285714em;
			margin-left: 6px;
			margin-right: 6px;
			// close to @wmui-color-base20
			opacity: 0.65;
		}

		.oo-ui-icon-subtract {
			// close to @wmui-color-base20
			opacity: 0.65;
		}
	}
}
