@import 'mediawiki.skin.variables.less';

.mw-ge-homepage-discovery-banner-mobile {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	// positioning parent for the close button
	position: relative;
	padding: 14px;
	box-shadow: 0 2px 3px 0 rgba( 0, 0, 0, 0.15 );
	gap: 0.5em;

	// this is tailored to Minerva's hamburger menu so don't show it on other skins
	.skin-minerva & .mw-ge-homepage-discovery-arrow {
		flex-shrink: 0;
		width: 64px;
		height: 54px;
		transform: scaleX( -1 );

		@media all and ( min-width: @min-width-breakpoint-tablet ) {
			// We use a different arrow image  (wider but less tall) for tablets
			width: 103px;
			height: 42px;
		}

		/* @embed */
		background: url( ../../images/homepage-discovery-arrow-up-variant-cd-ltr.svg ) no-repeat left;

		@media all and ( min-width: @min-width-breakpoint-tablet ) {
			/* @embed */
			background: url( ../../images/homepage-discovery-arrow-up-longer-variant-cd-ltr.svg ) no-repeat left;
		}
	}

	.mw-ge-homepage-discovery-message {
		text-align: center;

		h2 {
			font-size: 1em;
			font-weight: bold;
			color: @color-base;
		}

		p {
			font-size: 0.875em;
			line-height: 1.29;
			color: @color-subtle;

			// match the icon size to the font size
			.oo-ui-iconElement-icon {
				width: 1em;
				min-width: 1em;
				min-height: 1em;
				vertical-align: bottom;
				// 1 - 0x77 / 0xff; #777 is very close to @color-subtle
				opacity: @opacity-icon-subtle;
			}
		}
	}

	.mw-ge-homepage-discovery-banner-close {
		cursor: pointer;
		opacity: @opacity-icon-subtle;

		.client-nojs & {
			display: none;
		}
	}
}
