@import 'mediawiki.skin.variables.less';

/* stylelint-disable selector-class-pattern */
.growthexperiments-mentor-dashboard-module-resources {
	.icon-references {
		opacity: @opacity-icon-subtle;
		width: 40px;
		height: 40px;
	}

	.growthexperiments-mentor-dashboard-module-header-text {
		padding-top: 26px;
	}
}
/* stylelint-enable */
