@import 'mediawiki.ui/variables';

.mw-ge-help-panel-widget-overlay {
	font-size: 0.875em;
	position: fixed;
	right: 1em;
	bottom: 1em;
	z-index: 2;
}

.mw-ge-help-panel-popup {
	color: @colorGray2;
	background-color: @background-color-base;
	border: 1px solid @colorGray12;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba( 0, 0, 0, 0.25 );

	.oo-ui-processDialog-navigation {
		.oo-ui-processDialog-actions-primary {
			.mw-ge-help-panel-settings-cog.active,
			.mw-ge-help-panel-settings-cog.active:hover {
				background-color: #eaf3ff;
			}
		}

	}

	label > strong {
		color: @colorGray5;
	}

	li {
		padding-bottom: 0.5em;
	}

	p {
		line-height: 1.5;
	}
}

.mw-ge-help-panel-settings-cog-content {
	z-index: 3;
	background-color: @background-color-base;

	// Hack: remove 2px top gap
	margin-top: -2px;

	// Hack: remove 7px right gap
	margin-left: 7px;
}
