@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';

.mw-ge-help-panel-processdialog {
	label > strong {
		color: @colorGray5;
	}

	li {
		padding-bottom: 0.5em;
	}

	p {
		line-height: 1.5;
		margin: 0.4em 0 0.5em 0;
	}

	h2 {
		font-size: 100%;
		border: 0;
		color: @colorGray5;
		line-height: 1.42857143em;
	}

	ul {
		list-style-type: disc;
		margin: 0.3em 0 0 1.6em;
	}

	.oo-ui-window-foot {
		// Override .oo-ui-unselectable()
		-webkit-touch-callout: default;
		-webkit-user-select: auto;
		-moz-user-select: auto;
		-ms-user-select: auto;
		user-select: auto;
	}

	.oo-ui-processDialog-navigation .oo-ui-processDialog-actions-primary {
		.mw-ge-help-panel-settings-cog.active,
		.mw-ge-help-panel-settings-cog.active:hover {
			background-color: #eaf3ff;
		}
	}

	.oo-ui-horizontalLayout.mw-ge-help-panel-question-complete {
		label.oo-ui-widget {
			display: inline;
		}
	}

	.mw-ge-help-panel-questioncomplete-first-edit {
		font-weight: bold;
	}

	.mw-ge-help-panel-question-continue-button {
		float: right;
	}
}

.mw-ge-help-panel-settings-cog-content {
	z-index: 3;
	background-color: @background-color-base;
	// Hack: remove 2px top gap
	margin-top: -2px;
	// Hack: align popup with dialog border
	// Counteract 10px buffer from OOUI, plus 1px for the dialog border width
	margin-right: -11px;

	p a {
		display: block;
		width: 100%;
	}
}
