@import 'mediawiki.ui/variables';

.mw-ge-help-panel-widget-overlay {
	font-size: 0.875em;
	position: fixed;
	right: 1em;
	bottom: 1em;
	z-index: 2;
}

.mw-ge-help-panel-popup {
	background-color: @background-color-base;
	border: 1px solid @border-color-base;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba( 0, 0, 0, 0.25 );
}

.mw-ge-help-panel-settings-cog-content {
	z-index: 3;
	background-color: @background-color-base;
}
