@import 'mediawiki.skin.variables.less';

#mw-content-text {
	.growth-surfaced-task-button {
		margin: 0 4px;
		padding: 2px 8px;
		background-color: @background-color-warning-subtle;
		border: 1px dashed @border-color-warning;
		font-weight: inherit;
		min-height: inherit;

		&.growth-surfaced-task-popup-visible {
			background-color: @background-color-progressive-subtle;
			border-color: @border-color-progressive;
			border-style: solid;
		}

		&__icon {
			.cdx-mixin-css-icon( @cdx-icon-link, @param-size-icon: @size-icon-x-small, @param-is-button-icon: true );
		}
	}

	.growth-surfaced-task-popup-footer {
		display: flex;
		justify-content: flex-end;
		gap: 4px;
	}

	.growth-surfaced-task-popup-title {
		font-weight: bold;
	}

	.growth-surfaced-task-popup-content {
		display: flex;
		gap: 8px;

		&-title {
			font-weight: bold;
		}

		&-description {
			font-size: 0.875em;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}
