@import 'mediawiki.skin.variables.less';

@homepageHeaderFont: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@homepageModuleMargin: 8px;
@homepageStartIconSize: 28px;
@homepageLayoutNarrowBreakpoint: 992px;

@easyColor: #14866d;
@easyBackgroundColor: #d5fdf4;
@mediumColor: #ac6600;
@mediumBackgroundColor: #fef6e7;
@hardColor: #b32424;
@hardBackgroundColor: #fee7e6;

@suggestedEditsBackgroundColor: rgba( 234, 243, 255, 0.5 );
@suggestedEditsBackgroundColorLegacyLightOnly: rgba( 234, 243, 255, 0.5 );
@suggestedEditsOpaqueBackgroundColor: @background-color-interactive-subtle;
@startEditingDialogSidePadding: 16px;
@activeAnnotationBackgroundColor: @suggestedEditsOpaqueBackgroundColor;

@background-color-growth-subtle: @background-color-neutral-subtle;
@background-color-growth-apparent: #eaecf0;
@background-color-growth-step-progress-dot: #c8ccd1;

@headerFontSize: (16/14em);

// When updating this, also update HelpPanelProcessDialog.prototype.getTeardownProcess
@help-panel-transition-duration: 400ms;
