@import 'mediawiki.skin.variables.less';

.client-js #growthexperiments-initial-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 400;
	min-height: 100%;
	width: 100vw;
	height: 100vh;
	height: -webkit-fill-available;
	background: var( @background-color-backdrop-light, rgba( 255, 255, 255, 0.65 ) );
	backdrop-filter: blur( 30px );
}
