@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';
@import '../ext.growthExperiments.variables.less';

@cardWrapperWidth: 260px;
@cardContainerWrapperHeight: 300px;

.growthexperiments-homepage-module-suggested-edits {
	&.growthexperiments-homepage-module-desktop {
		background-color: rgba( 234, 243, 255, 0.5 );
	}

	.suggested-edits-module-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.suggested-edits-pager {
			padding-top: 10px;
			font-size: 0.875em;
			color: @colorGray2;
		}

		.se-card-no-results,
		.se-card-end-of-queue {
			width: @cardWrapperWidth;

			.se-card-title,
			.se-card-text {
				text-align: center;
				color: @colorGray2;
				padding: 20px 10px 0 10px;
			}

			.se-card-text {
				// With padding, becomes same height as image.
				height: 130px;
			}
		}

		.se-card-end-of-queue {
			.se-card-image {
				/* @embed */
				background: url( ../../../images/end-of-queue.svg ) no-repeat center center;
				height: 144px;
			}
		}

		.se-card-no-results {
			.se-card-image {
				/* @embed */
				background: url( ../../../images/no-results.svg ) no-repeat center center;
				height: 144px;
			}
		}

		.suggested-edits-task-explanation-wrapper {
			padding: 10px 0;
			width: @cardWrapperWidth;

			.suggested-edits-title-and-info {
				display: flex;
				justify-content: center;
				align-content: center;

				h4 {
					margin-top: unset;
					margin-bottom: unset;
					padding-top: unset;
				}

				.oo-ui-iconElement {
					text-align: left;
					margin-top: -5px;
				}

				p {
					color: @colorGray2;
				}

				.suggested-edits-difficulty-indicator {
					margin-left: auto;
					margin-top: 2px;
					text-transform: uppercase;
					font-size: 12px;
					height: 14px;
					line-height: 1.4em;
					position: relative;
					padding: 2px 4px;
				}

				.suggested-edits-popup-detail {
					.suggested-edits-difficulty-time-estimate {
						display: flex;

						.suggested-edits-difficulty-indicator {
							margin-left: 0;
						}

						.suggested-edits-difficulty-level {
							font-size: 12px;
							margin-top: 2px;
							padding-left: 10px;
						}

						.suggested-edits-difficulty-level-easy {
							color: @easyColor;
						}

						.suggested-edits-difficulty-level-medium {
							color: @mediumColor;
						}

						.suggested-edits-difficulty-level-hard {
							color: @hardColor;
						}
					}
				}

				.suggested-edits-difficulty-indicator-easy {
					background-color: fade( @easyColor, 20% );
					color: @easyColor;
				}

				.suggested-edits-difficulty-indicator-after-mixin() {
					content: '';
					position: absolute;
					right: -4px;
					bottom: 0;
					width: 0;
					height: 0;
					border-right: 4px solid transparent;
				}

				.suggested-edits-difficulty-indicator-easy:after {
					.suggested-edits-difficulty-indicator-after-mixin();
					border-top: 9px solid fade( @easyColor, 20% );
					border-bottom: 9px solid fade( @easyColor, 20% );
				}

				.suggested-edits-difficulty-indicator-medium {
					background-color: fade( @mediumColor, 20% );
					color: @mediumColor;
				}

				.suggested-edits-difficulty-indicator-medium:after {
					.suggested-edits-difficulty-indicator-after-mixin();
					border-top: 9px solid fade( @mediumColor, 20% );
					border-bottom: 9px solid fade( @mediumColor, 20% );
				}

				.suggested-edits-difficulty-indicator-hard {
					background-color: fade( @hardColor, 20% );
					color: @hardColor;
				}

				.suggested-edits-difficulty-indicator-hard:after {
					.suggested-edits-difficulty-indicator-after-mixin();
					border-top: 9px solid fade( @hardColor, 20% );
					border-bottom: 9px solid fade( @hardColor, 20% );
				}
			}

			.suggested-edits-short-description {
				height: 20px;
				color: @colorGray5;
				font-size: 0.9em;
			}
		}

		.suggested-edits-card-wrapper {
			padding-top: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			height: @cardContainerWrapperHeight;

			.suggested-edits-previous,
			.suggested-edits-next {
				padding: 0 20px;
			}

			.suggested-edits-task-card-wrapper {
				.box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.15));
				width: @cardWrapperWidth;
				background-color: @background-color-base;

				a {
					text-decoration: none;
					color: unset;
				}

				.se-card-content {
					.se-card-text {
						height: 140px;
						padding: 0 10px;
						color: @colorGray2;

						.se-card-extract {
							font-size: 0.875em;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							line-height: 0.875em;
							height: 4em;
						}

						.se-card-pageviews {
							font-size: 0.875em;
							padding-top: 10px;
							color: @colorGray5;

							.oo-ui-iconWidget {
								margin-right: 5px;
							}
						}
					}

					.se-card-image {
						height: 150px;
						width: 260px;
						background-color: @colorGray1;
						background-image: url( ../../../images/suggestededits/placeholder-image.svg );
					}
				}
			}
		}
	}

	.suggested-edits-footer {
		// negate the margin on .growthexperiments-homepage-module in ext.growthExperiments.Homepage.less
		// margin values are *1.11 due to the font-size rule
		margin: 16px -( @homepageModuleMargin / 0.9 ) -( @homepageModuleMargin / 0.9 );
		padding: 12px 24px 16px;
		background-color: @colorBaseInverted;
		color: @colorGray5;
		font-size: 0.9em;
	}

	&.growthexperiments-homepage-module-mobile-summary {
		.suggested-edits-main {
			display: flex;

			.suggested-edits-icon {
				width: 64px;
				// Image URLs are relative to the current CSS
				.background-image-svg( '../../../images/suggestededits/Topic-general-64w.svg',
				'../../../images/suggestededits/Topic-general-64w@4x.png' );
				background-repeat: no-repeat;
				padding-right: 16px;
			}

			.suggested-edits-metric-number {
				font-size: 1.2em;
				font-weight: bold;
			}

			.suggested-edits-metric-subtitle {
				font-size: 0.8em;
			}
		}

		.suggested-edits-footer {
			// negate the margin on .growthexperiments-homepage-mobile-summary
			// .growthexperiments-homepage-module in ext.growthExperiments.Homepage.less
			// margin values are *1.25 due to the font-size rule
			margin: 16px -0.859375em -0.859375em;
			padding: 12px 16px 14.4px;
			background-color: @colorGray15;
			font-size: 0.8em;
		}
	}
}

.suggested-edits-difficulty-filters {
	h4.suggested-edits-difficulty-level-label {
		display: inline-block;
		// Align with icon.
		margin-bottom: -0.5em;
		padding-left: 5px;
	}

	.oo-ui-checkboxMultiselectWidget {
		padding-top: 5px;
	}

	p.suggested-edits-difficulty-level-desc {
		color: @colorGray2;
		padding-top: 5px;
	}

	.suggested-edits-article-count {
		padding-left: 5px;
		color: @colorGray5;
	}

	.suggested-edits-create-article.oo-ui-widget {
		.oo-ui-labelElement-label {
			display: block;
		}

		.suggested-edits-create-article-additional-msg {
			display: block;
			padding-left: 6px;
			font-size: 12px;
		}
	}
}
