@import 'mediawiki.skin.variables.less';
@import '../utils/variables.less';
@import '../utils/mixins.less';

.growthexperiments-multi-pane-dialog {
	.oo-ui-window-head {
		background-color: @suggestedEditsBackgroundColor;
		outline: unset;
	}

	.oo-ui-window-body {
		overflow-x: hidden;
	}

	.oo-ui-window-head,
	.oo-ui-window-body,
	.oo-ui-window-foot {
		color: @color-base;
	}

	&-fixed-content {
		position: absolute;
		z-index: @z-index-fixed; // FIXME: Not entirely sure, if that's fixed or absolute or what's
		// the exact deal.
	}

	&-progress-indicator {
		padding: 0 16px;
		color: @color-subtle;
	}

	&-progress-indicator,
	&-dots-container {
		display: flex;
		align-items: center;
	}

	&-dot {
		border-radius: @border-radius-circle;
		width: 8px;
		height: 8px;
		margin-right: 8px;
		background-color: @background-color-growth-step-progress-dot;
		display: inline-block;

		&.dot-completed {
			background-color: @color-base;
		}
	}

	.oo-ui-panelLayout {
		transition: left 500ms;
		left: 0;
		background-color: @background-color-base;
		width: 100%;
		box-sizing: border-box;

		&.offscreen-content-prev {
			left: -100%;
		}

		&.offscreen-content-next {
			left: 100%;
		}
	}

	&-footer {
		display: flex;
		align-items: center;
	}

	&-footer-widget {
		flex-grow: 1;

		&.align-end {
			text-align: right;
			margin-right: 0;
		}
	}

	&-progress-text {
		.rel-font-size-and-line-height( @parentFontSize: 16px, @targetFontSize: 13px, @targetLineHeight: 19.5px );
	}

	&-desktop {
		.oo-ui-processDialog-location {
			text-align: left;
			// Override padding set by ProcessDialog (JS) when there are ActionWidgets
			padding: 0 !important; // stylelint-disable-line declaration-no-important
		}

		.oo-ui-processDialog-title {
			margin-left: 1em;
		}

		.growthexperiments-multi-pane-dialog-progress-text {
			.rel-font-size-and-line-height( @parentFontSize: 14px, @targetFontSize: 12.4px, @targetLineHeight: 17.3px );
		}
	}
}
