@import './variables.less';

.ext-growthExperiments-onboarding-dialog-size() {
	width: @onboardingDialogMaxWidth;
	min-width: @onboardingDialogMinWidth;
}
.ext-growthExperiments-onboarding-dialog-color() {
	color: @color-base;
}
.ext-growthExperiments-onboarding-dialog-image() {
	background-color: @onboardingBackgroundColor;
	height: @onboardingImageHeight;
	background-position: center;
	background-repeat: no-repeat;
}
.ext-growthExperiments-onboarding-dialog-textcontent() {
	padding-left: @spacing-150;
	padding-right: @spacing-150;
}
.ext-growthExperiments-onboarding-dialog-title() {
	padding-top: @spacing-125;
	font-size: @font-size-medium;
	font-weight: @font-weight-bold;
}
.ext-growthExperiments-onboarding-dialog-text() {
	padding-top: @spacing-50;
	font-size: @font-size-small;
	line-height: @line-height-xx-small;
}

@keyframes loading-stripes {
	0% {
		background-position: calc( -1 * @size-150 ) 0;
	}

	100% {
		background-position: 0 0;
	}
}

.ext-growthExperiments-loading-stripes-anim {
	background-color: @filterLoadingColor;
	background-image: linear-gradient( 135deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent );
	background-size: @size-150 @size-150;
	animation: loading-stripes 650ms linear infinite;
}

.ext-growthExperiments-live-broadcast-icon {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

@keyframes play45 {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -900px 0;
	}
}

.ext-growthExperiments-live-broadcast-anim {
	animation-duration: 3000ms;
	animation-timing-function: steps( 45 );
	animation-iteration-count: infinite;
	background-size: auto;
	animation-name: play45;
	display: inline-block;
	vertical-align: middle;
}

.ext-growthExperiments-task-type-difficulty-icon {
	height: 20px;
	width: 20px;
	display: inline-block;
}
