@import '../node_modules/@wikimedia/codex-design-tokens/dist/theme-wikimedia-ui.less';
@import '../node_modules/@wikimedia/codex/dist/mixins/link.less';

@onboardingBackgroundColor:  #f4f9ff;
@onboardingExampleBorderColor: #eaecf0;
@onboardingDialogHeight: 581px;
@onboardingDialogMaxWidth: 512px;
@onboardingDialogMinWidth: 320px;
@onboardingImageHeight: 256px;
@onboardingCloseButtonMinWidht: 90px;
