@import 'resources/lib/ooui/wikimedia-ui-base.less';
@import '../../homepage/ext.growthExperiments.mixins';

.mw-ge-recommendedImage {
	position: relative;

	&.ve-ce-mwBlockImageNode {
		margin-bottom: 16px;
		max-width: 500px;
	}

	.mw-ge-recommendedImage-loading-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-color: @wmui-color-base80;
		transition: background-color 300ms ease-out;
		pointer-events: none;

		&--image-shown {
			background-color: transparent;
		}
	}

	.image {
		position: relative;
		display: block;
		pointer-events: none;
		min-height: 4em; // make sure the the details button doesn't cover the entire image
		text-align: center;
	}

	.mw-ge-recommendedImage-details-button {
		pointer-events: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 8px;
		color: @wmui-color-base100;
		background: rgba( 0, 0, 0, 0.5 );
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.rel-font-size-and-line-height( @parentFontSize: 16px, @targetFontSize: 13px, @targetLineHeight: 19.5px );
	}

	.mw-ge-recommendedImage-details-icon {
		margin-right: 8px;
		background-size: 16px;
		// Invert icon color from black to white
		-webkit-filter: invert( 100% );
		filter: invert( 100% );
	}

	.mw-ge-recommendedImageCaption-warning {
		margin-top: 4px;
		margin-bottom: 38px;
		.rel-font-size-and-line-height( @parentFontSize: 16px, @targetFontSize: 14.8px, @targetLineHeight: 22px );
	}

	.mw-ge-recommendedImageCaption {
		margin-top: 4px;
	}
}

.mw-ge-structuredTaskDesktopArticleTarget {
	.mw-ge-recommendedImage-details-button {
		margin: 4px; // image on desktop has 3px margin + 1px border
	}
}
