@import 'resources/lib/ooui/wikimedia-ui-base.less';
@paragraphPadding: 7px 8px 27px 8px; // adding bottom padding for help button

.mw-ge-recommendedImageCaption {
	border: 2px solid @wmui-color-base50;
	position: relative;

	.mw-ge-recommendedImageCaption-placeholder,
	.ve-ce-paragraphNode {
		padding: 7px 8px 27px 8px; // adding bottom padding for help button
	}

	.ve-ce-paragraphNode {
		color: @wmui-color-base10;
	}

	.mw-ge-recommendedImageCaption-placeholder {
		color: @wmui-color-base30;
	}

	&--with-placeholder {
		border-color: @wmui-color-accent50;
		background-color: @wmui-color-accent90;

		.ve-ce-paragraphNode {
			display: none;
		}
	}

	&--with-warning {
		border-color: @wmui-color-red50;
	}

	.mw-ge-recommendedImageCaption-help-button {
		position: absolute;
		right: 8px;
		bottom: 7px;
		opacity: 0.65;

		// Override OOUI ButtonWidget's size
		&.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {
			min-height: 20px;
			min-width: 20px;
			padding: 0;
		}
	}
}

.mw-ge-structuredTaskDesktopArticleTarget {
	@desktopParagraphPadding: 0 8px 27px 0;
	// Additional specificity to override default styles
	.mw-content-ltr .mw-ge-recommendedImageCaption {
		&--with-placeholder {
			&:before {
				content: attr( placeholder );
				padding: @desktopParagraphPadding;
				display: block;
				width: auto;
				height: auto;
				margin-left: 0;
			}
		}
	}

	.mw-ge-recommendedImageCaption {
		.ve-ce-paragraphNode {
			padding: @desktopParagraphPadding;
		}
	}
}
