@import 'mediawiki.skin.variables.less';

// Overspecify MinervaNeue's `.content ul` here as well.
.growthexperiments-homepage-module-reading-recommendations {
	position: relative;

	.growthexperiments-reading-recommendations-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.growthexperiments-reading-recommendations-list-item {
		margin: 0 0 @spacing-75;

		&:last-child {
			margin-bottom: 0;
		}

		.cdx-card__thumbnail,
		.cdx-card__thumbnail .cdx-thumbnail__image,
		.cdx-card__thumbnail .cdx-thumbnail__placeholder {
			min-width: @size-400;
			width: @size-400;
			height: @size-400;
		}
	}

	.cdx-card__text__description {
		overflow: hidden;
		// Keep long Wikidata descriptions to two lines.
		display: -webkit-box;
		// Both properties are needed for widest browser support.
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	// Add subtle color to the mixin.
	.growthexperiments-reading-recommendations-related-to-icon {
		.cdx-mixin-css-icon( @cdx-icon-link, @color-subtle, @size-icon-small );
		margin-right: @spacing-25;
	}

	.growthexperiments-reading-recommendations-cta {
		background-color: @background-color-neutral-subtle;
		flex-direction: column;
		margin-bottom: @spacing-75;

		// Reset card title styles on this h3.
		&__title {
			font-size: @font-size-medium;
			line-height: @line-height-small;
			font-weight: @font-weight-bold;
			margin: 0;
			padding: 0;
		}
	}

	#growthexperiments-reading-recommendations-personalize-button {
		@media ( max-width: @max-width-breakpoint-mobile ) {
			width: @size-full;
		}
	}

	.growthexperiments-reading-recommendations-icon--configure {
		.cdx-mixin-css-icon( @cdx-icon-configure, @param-is-button-icon: true );
	}

	.growthexperiments-reading-recommendations-interest-selector-launch {
		position: absolute;
		// Match base module padding.
		top: @spacing-100;
		right: @spacing-100;
	}
}
