@import 'mediawiki.skin.variables.less';

// Overspecify MinervaNeue's `.content ul` here as well.
.growthexperiments-homepage-module-reading-recommendations {
	.growthexperiments-reading-recommendations-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.growthexperiments-reading-recommendations-list-item {
		margin: 0 0 @spacing-75;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.cdx-card__text__description {
		overflow: hidden;
		// Keep long Wikidata descriptions to two lines.
		display: -webkit-box;
		// Both properties are needed for widest browser support.
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	// Add subtle color to the mixin.
	.growthexperiments-reading-recommendations-related-to-icon {
		.cdx-mixin-css-icon( @cdx-icon-link, @color-subtle, @size-icon-small );
		margin-right: @spacing-25;
	}
}
