@import 'mediawiki.ui/variables';

@mentorDashboardHeaderFont: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

.growthexperiments-mentor-dashboard-module {
	border: @colorGray12 @border-width-base @border-style-base;
	padding: 16px;
	margin: 6px;

	.growthexperiments-mentor-dashboard-module-header,
	h2.growthexperiments-mentor-dashboard-module-header {
		font-family: @mentorDashboardHeaderFont;
		font-size: 1.2em;
		line-height: 1.2em;
		font-weight: bold;
		color: @colorGray2;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0.5em;
		border-bottom: unset;
	}
}
