@import 'mediawiki.skin.variables.less';
@import 'mediawiki.mixins';
@import '../utils/variables.less';

.growthexperiments-homepage-module-community-updates {
	background-color: @background-color-progressive-subtle;
}

.cdx-card-content {
	display: flex;
	flex-direction: row;

	.cdx-card__thumbnail {
		margin-right: 1em;
	}

	.ext-growthExperiments-CommunityUpdates__card__thumbnail {
		.ext-growthExperiments-CommunityUpdates__thumbnail__image {
			// TODO: To enable to use an Icon
			background-image: url( https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/64_365_Color_Macro_%285498808099%29.jpg/200px-64_365_Color_Macro_%285498808099%29.jpg );
		}
	}

	.cdx-card__text {
		display: flex;
		flex-direction: column;

		&__title {
			font-weight: bold;
		}

		&__description {
			margin-bottom: @spacing-50;
		}

		.cdx-button--action-progressive {
			align-self: flex-start;
		}
	}
}
