@import 'mediawiki.ui/variables';
@import 'mediawiki.mixins';
@import '../ext.growthExperiments.Homepage.styles/variables.less';

@help-panel-position-bottom: 6em;

.mw-ge-help-panel-widget-overlay {
	position: fixed;
	right: 1em;
	bottom: @help-panel-position-bottom;
	z-index: 2;
	border-radius: 2px;
}

.mw-ge-help-panel-popup .oo-ui-dialog {
	font-size: 0.875em;
	color: @colorGray2;
	background-color: @background-color-base;
	border-radius: 2px;
	border: 1px solid @colorGray12;
	box-shadow: 0 2px 2px 0 rgba( 0, 0, 0, 0.25 );
	.transition( bottom @help-panel-transition-duration ~',' opacity @help-panel-transition-duration );
	position: relative;
	bottom: -@help-panel-position-bottom - 1em;
	opacity: 0;

	&.oo-ui-window-setup {
		bottom: 0;
		opacity: 1;
	}
}

.mw-ge-help-panel-popup-guidance .oo-ui-dialog {
	.transition( none );
	animation: slide-in-guidance 800ms;
}

@keyframes slide-in-guidance {
	0% {
		// Start right below the bottom of the viewport, by moving down 100% of the height of
		// the element, plus another 6em to account for the bottom: 6em; positioning rule
		transform: translateY( calc( 100% ~'+' @help-panel-position-bottom ) );
		opacity: 0;
	}

	100% {
		transform: translateY( 0 );
		opacity: 1;
	}
}
