@import 'mediawiki.skin.variables.less';
@import '../../utils/mixins.less';

@imageBgPostionY: 24px;

.onboarding-image( @index ) {
	&-image@{index} {
		// FIXME add mobile assets when they are ready (T332925)
		background-image: url( '../../../images/addsectionimage/desktop-onboarding-image@{index}-ltr.svg' );
		// Reposition image so it does not overlap with the pager. Horizontal
		// shifts make the image exceed the viewport, see T349024#9320264.
		background-position: center @imageBgPostionY;
	}

	&-image@{index}--desktop {
		background-image: url( '../../../images/addsectionimage/desktop-onboarding-image@{index}-ltr.svg' );
		// Reposition image so it does not overlap with the pager
		.background-position-ltr-rtl( 100px, 30px );
	}
}

.addsectionimage-onboarding-content {
	& .structuredtask-onboarding-content-image {
		height: 216px + @imageBgPostionY;
	}

	&--color-subtle {
		font-style: italic;
		color: @color-subtle;
	}
	.onboarding-image( 1 );
	.onboarding-image( 2 );
	.onboarding-image( 3 );
	.onboarding-image( 4 );
}
