@import 'mediawiki.ui/variables.less';
@import 'mediawiki.mixins.less';
@import 'resources/lib/ooui/wikimedia-ui-base.less';
@import '../ext.growthExperiments.variables.less';
@import '../ext.growthExperiments.mixins.less';

.mw-ge-recommendedLinkContextItem {
	@iconOpacity: 0.65;
	@imageThumbnailSize: 56px;
	@gutterSize: 12px;
	background: @wmui-color-base100;

	.oo-ui-window-head {
		min-height: 32px;
		padding: 0.5em;
		display: flex;
		align-items: center;
		box-sizing: content-box;
		background-color: @suggestedEditsBackgroundColor;
		position: relative;

		.mw-ge-recommendedLinkContextItem-head-robot-icon {
			margin-left: 0.5em;
			opacity: 0.65;
		}
	}

	.oo-ui-window-body {
		position: relative;
		padding: 0.5em 1em;
	}

	&.ve-ui-toolbarDialog-position-below {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid @wmui-color-base70;
		box-shadow: 0 -1px 1px 0 fade( @wmui-color-base0, 10% );
		transition: transform 100ms;
		transform: translateY( 0% );
	}

	&.ve-ui-toolbarDialog-position-inline {
		position: absolute;
		top: 0;
		left: 0;
		width: 400px;
		background-color: #fff;
		border: 1px solid #a2a9b1;
		border-radius: 2px;
		filter: drop-shadow( 0 2px 1px rgba( 0, 0, 0, 0.3 ) );
		transform: translateZ( 0 );
	}

	&-progress-title {
		font-weight: bold;
		margin-left: 9px;
	}

	&-labelPreview {
		margin-bottom: 0.5em;

		&-label {
			.rel-font-size-and-line-height( @parentFontSize: 16px, @targetFontSize: 13px, @targetLineHeight: 19.5px );
			color: @wmui-color-base20;
		}

		&-text {
			.rel-font-size-and-line-height( @parentFontSize: 16px, @targetFontSize: 16px, @targetLineHeight: 22px );
			font-weight: bold;
		}
	}

	&-linkPreview {
		min-height: @imageThumbnailSize;
		padding: 8px 0;

		.ve-ui-linkContextItem-link {
			.rel-line-height( @parentFontSize: 16px, @targetLineHeight: 16px );
			font-weight: bold;
			color: @wmui-color-accent50;
			margin-left: @imageThumbnailSize;
		}

		// OOUI icon is shown when the article doesn't have an image.
		.oo-ui-iconWidget,
		.ve-ui-mwInternalLinkContextItem-hasImage {
			margin-bottom: 0;
			margin-right: @gutterSize;
			width: @imageThumbnailSize;
			height: @imageThumbnailSize;
			box-sizing: border-box;
			border-radius: 2px;
			background-size: 20px;
			background-position: center;
		}

		.ve-ui-mwInternalLinkContextItem-description {
			.paragraph-ellipsis( @lines: 2, @parentFontSize: 16px, @targetFontSize: 13px, @targetLineHeight: 19.5px );
			margin-top: 4px;
			margin-left: @imageThumbnailSize;
		}
	}

	&-introLabel {
		.rel-font-size-and-line-height( @parentFontSize: 16px, @targetFontSize: 13px, @targetLineHeight: 19px );
		color: @colorGray5;
		margin: 8px 0;
	}

	&-buttons {
		padding-top: 16px;
		position: relative;

		&-acceptance-group {
			text-align: left;
			left: ~'calc( @{imageThumbnailSize} + @{gutterSize} )';
			display: block;
			position: absolute;

			&.overflow-state {
				position: relative;
				margin-bottom: 8px;
				left: 0;
				text-align: center;
			}

			&.overflow-state-left-aligned {
				left: ~'calc( @{imageThumbnailSize} + @{gutterSize} )';
				text-align: left;
			}
		}

		&-nav-group {
			width: 100%;
		}

		&-prev {
			float: left;
			margin-bottom: 10px;
		}

		&-next {
			float: right;

			// HACK: Make the icon appear after the label instead of before it
			&.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {
				@defaultSidePadding: 6px;
				padding-left: @defaultSidePadding;
				// original icon offset (2.14285714em) - side padding
				// subtract side padding since the icon should be aligned to the edge
				padding-right: ~'calc( 2.14285714em - @{defaultSidePadding} )';

				> .oo-ui-iconElement-icon {
					left: auto;
					right: 0;
				}
			}
		}

		&-prev,
		&-next {
			// Additional specificity to override OOUI's base10 color
			&.oo-ui-widget-enabled {
				> .oo-ui-buttonElement-button {
					color: @wmui-color-base20;

					> .oo-ui-iconElement-icon:not( .oo-ui-image-invert ) {
						opacity: @iconOpacity;
					}
				}
			}

			&.oo-ui-widget-disabled {
				> .oo-ui-buttonElement-button {
					> .oo-ui-iconElement-icon {
						// Intended opacity with existing disabled state's opacity
						opacity: calc( @iconOpacity * 0.51 );
					}
				}
			}
		}
	}

	&-progress {
		padding-left: 16px;

		// Make each indicator a circle with a diameter of 8px
		&-indicator {
			display: inline-block;
			width: 8px;
			height: 8px;
			margin-right: 8px;
			border-radius: 50%;
			background-color: @wmui-color-base70;

			&-selected {
				background-color: @wmui-color-accent50;
			}
		}
	}

	&-help-button {
		opacity: @iconOpacity;
		margin-left: auto;

		.oo-ui-iconElement-icon {
			max-width: 20px;
		}
	}

	&-desktop {
		.oo-ui-window-body {
			padding: 0 16px 12px 16px;
		}

		.mw-ge-recommendedLinkContextItem-progress {
			padding-left: 20px;
		}

		.mw-ge-recommendedLinkContextItem-introLabel {
			.rel-font-size-and-line-height( @parentFontSize: 14px, @targetFontSize: 12.4px, @targetLineHeight: 17px);
			margin: 14px 0 8px 0;
		}

		.mw-ge-recommendedLinkContextItem-buttons-prev {
			margin-bottom: 0;
		}

		.mw-ge-recommendedLinkContextItem-linkPreview {
			.ve-ui-linkContextItem-link {
				.rel-line-height( @parentFontSize: 14px, @targetLineHeight: 16px );
				margin-left: 0;

				&:after {
					@iconDimension: unit( 12px / 14px, em );
					/* @embed */
					background-image: url( link-external-ltr.svg );
					background-size: 100%;
					content: '';
					display: inline-block;
					width: @iconDimension;
					height: @iconDimension;
					position: relative;
					margin-left: 10px;
				}
			}

			.ve-ui-mwInternalLinkContextItem-description {
				.paragraph-ellipsis( @lines: 2, @parentFontSize: 14px, @targetFontSize: 12.4px, @targetLineHeight: 17.3px );
			}
		}

		&-anchor {
			position: absolute;
			top: -11px;
			z-index: 1;

			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				bottom: -11px;
			}

			&:before {
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid #a8a8a8;
				left: 0;
			}

			&:after {
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
				border-bottom: 9px solid @activeAnnotationBackgroundColor;
				left: 1px;
			}
		}

		&-anchor-start {
			left: 13px;
		}

		&-anchor-end {
			right: 30px;
		}
	}
}

.mw-ge-user-select-none {
	-webkit-user-select: none;
	user-select: none;
}
